<br />
<hr />
<br />
<div>
    <div class="row">
        <div class="col-sm-6">
            Powered By
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <img src="../img/download.png" alt=">.net core 2" class="bigimg" />
                </div>
                <div class="col-sm-3">
                    <img src="../img/bootstrap-png-bootstrap-1024.png" alt="Bootstrap" class="bigimg" />
                </div>
                <div class="col-sm-3">
                    <img src="../img/cs.svg" alt="C#" class="bigimg" />
                </div>
                <div class="col-sm-3">
                    <img src="../img/wasm.png" alt="Wasm" class="bigimg" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            About
            <hr />
            <p>
                This is a test site for car advertisment service
                powerd by
                <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1" target="_blank">
                    asp.net core 2
                </a>
                and
                <a href="https://blazor.net/" target="_blank">Blazor</a>
                and
                <a href="https://getbootstrap.com/" target="_blank">
                    bootsrtap
                </a>
                for internet engineering course.
            </p>
        </div>
        <div class="col-sm-2">
            Contact
            <hr />
            <div class="row">
                <div class="col-sm-1">
                    <a href="#">
                        <img src="../img/Telegram-icon.png" alt="Telegram" class="imgsize" />
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="#">
                        <img src="../img/Twitter_Icon.png" alt="Twitter" class="imgsize" />
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="#">
                        <img src="../img/md_5a9794da1b10e.png" alt="Facebook" class="imgsize" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <small style="float:left">
        © 2018 Copyright:
        <a href="https://github.com/FIVIL" target="_blank">F_IVI_L</a>
    </small>
    <small style="float:right"><i>FAFA:Uk67wQaL6j4XNK4ljYwFKAruU4M+RzKszIw8sgtDMBI=</i></small>
    <br />
</div>
@functions{

}